<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>【<%= baseInfo.name %>房价走势_<%= baseInfo.name %>房价均价_<%= baseInfo.name %>房价网】-象盒指数</title>
    <meta name="keywords" content="<%= baseInfo.name %>房价走势,<%= baseInfo.name %>房价均价，<%= baseInfo.name %>房价网" />
    <meta name="description" content="<%= baseInfo.name %>房价2019年会大涨吗？<%= baseInfo.name %>房价2019年会跌吗？本频道为您提供<%= baseInfo.name %>房价最新消息，包括：<%= baseInfo.name %>房价走势图、<%= baseInfo.name %>二手房房价走势、<%= baseInfo.name %>热门小区房价走势。" />
    <link rel="stylesheet" href="<%= root[env] %>css/house.css">
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=3.0&ak=mGIVfCq3HtLt0aOqYO9tgWdpszLmBk1G"></script>
    <% include include/cssjs %>
    <script>var hotAreaLineData = "<%= hotAreaLineData %>";</script>
</head>
<body>
<% include include/header %>
<% include include/anchor %>
<!--小区信息-->
<div class="top">
    <div class="content">
        <% include include/tabCard %>
        <% include include/search %>
        <!--内容-->
        <div class="showbox linkbox">
            <div class="nodatabox">暂无数据</div>
            <div class="leftbox">
                <div class="citybox"><img src="<%= root[env] %>images/icon_location.png" alt="" class="bounce"><span
                            class="city"><%= tools.getPro(cityInfo, "cityname") %></span></div>
                <div class="detailbox">
                    <p class="info"><span class="month"><%= new Date(cityInfo.day_time).getMonth() + 1 %>月</span><span
                                class="area"><%= tools.getPro(cityInfo, "cityname") %></span>象盒参考均价</p>
                    <div class="pricebox">
                        <div class="mj"><span class="num timer count-title" id="count-number"
                                              data-to="<%= tools.getPro(cityInfo, "avg_price") %>"
                            ><%= tools.getPro(cityInfo, "avg_price") %></span>元/平米
                        </div>
                        <% if(tools.getPro(cityInfo, "ratio") !== ''){ %>
                        <div class="sj">环比上月<span
                                    class="<% if(tools.getPro(cityInfo, "ratio") > 1){ %>red<% }else{ %>green<% } %>"><%= tools.getRatioH(tools.getPro(cityInfo, 'ratio')) %>
                                %
                                <% if(tools.getPro(cityInfo, "ratio") > 1){ %>
                                ↑
                                <% }else{ %>
                                ↓
                                <% } %>
                            </span></div>
                        <% } %>
                    </div>

                    <p class="data">已有<%= view_num %>人查询</p>
                </div>
            </div>
            <div class="rightbox">
                <ul>
                    <li>
                        <p class="title">在售房源</p>
                        <p class="txt"><span
                                    class="num blue zs"><%= tools.getPro(cityInfo, "house_num_all") %></span><span
                                    class="dw">套</span></p>
                    </li>
                    <li>
                        <p class="title">近7日带看量</p>
                        <p class="txt"><span class="num dk"><%= tools.getPro(cityInfo, "view_num") %></span><span
                                    class="dw">次</span></p>
                    </li>
                    <li>
                        <p class="title">扫码房屋估价</p>
                        <p><img src="<%= root[env] %>images/img_code.png" alt=""></p>
                    </li>
                    <li class="noborder">
                        <p class="title">今日新增房源</p>
                        <p class="txt"><span
                                    class="num blue xz"><%= tools.getPro(cityInfo, "house_num_add") %></span><span
                                    class="dw">套</span></p>
                    </li>
                    <li class="noborder">
                        <p class="title">今日涨价房源</p>
                        <p class="txt"><span
                                    class="num red zj"><%= tools.getPro(cityInfo, "price_increase") %></span><span
                                    class="dw">套</span></p>
                    </li>
                    <li class="noborder">
                        <p class="title">今日降价房源</p>
                        <p class="txt"><span
                                    class="num green jj"><%= tools.getPro(cityInfo, "price_reduction") %></span><span
                                    class="dw">套</span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--房价地图-->
<div class="mapbox linkbox">
    <div class="title map_title"><%= tools.getPro(cityInfo, "cityname") %>房价地图</div>
    <div class="content" id="map_container">
        <div class="placeholder">正在生成地图，请稍后...</div>
    </div>
</div>
<!--房价走势-->
<div class="zsbox linkbox">
    <div class="title line_title"><%= tools.getPro(cityInfo, "cityname") %>二手房价走势</div>
    <div class="content" id="line_container">
        <div class="placeholder">正在生成走势图，请稍后...</div>
    </div>
</div>
<!--涨幅榜-->
<div class="zfbox linkbox">
    <div class="zfleft">
        <div class="title zf_title">近1个月<%= tools.getPro(cityInfo, "cityname") %>房价涨幅榜</div>
        <div class="content">
            <div class="namelist">
                <div class="order">排行</div>
                <div class="name">小区</div>
                <div class="price">小区均价</div>
                <div class="zf">涨幅</div>
            </div>
            <ul class="list" id="up_list">
                <%
                cityUpList && cityUpList.length && cityUpList.map(function (upItem, index) {
                %>
                <li>
                    <div class="order"><span
                                <% if(index < 3){ %>
                                class="redcolor"
                                <% } %>
                        ><%= index + 1 %></span></div>
                    <div class="name"><a
                                href="<%= siteDomain %>/xiaoqu/<%= tools.getPro(upItem, 'lpid') %>.html"
                                target="_blank"><%= tools.getPro(upItem, 'lpname') %></a>
                    </div>
                    <div class="price"><%= tools.getPro(upItem, 'avg_price') %>元/㎡</div>
                    <div class="zf"><%= (tools.getPro(upItem, 'ratio') - 0).toFixed(2) %>% ↑</div>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
    <div class="zfright">
        <div class="title jf_title">近1个月<%= tools.getPro(cityInfo, "cityname") %>房价降幅榜</div>
        <div class="content">
            <div class="namelist">
                <div class="order">排行</div>
                <div class="name">小区</div>
                <div class="price">小区均价</div>
                <div class="zf">降幅</div>
            </div>
            <ul class="list" id="down_list">
                <%
                cityDownList && cityDownList.length && cityDownList.map(function (upItem, index) {
                %>
                <li>
                    <div class="order"><span
                                <% if(index < 3){ %>
                                class="redcolor"
                                <% } %>
                        ><%= index + 1 %></span></div>
                    <div class="name"><a
                                href="<%= siteDomain %>/xiaoqu/<%= tools.getPro(upItem, 'lpid') %>.html"
                                target="_blank"><%= tools.getPro(upItem, 'lpname') %></a>
                    </div>
                    <div class="price"><%= tools.getPro(upItem, 'avg_price') %>元/㎡</div>
                    <div class="jf"><%= (tools.getPro(upItem, 'ratio') - 0).toFixed(2) %>% ↓</div>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
<%
if(hotList.hotStress && hotList.hotStress.length){
%>
<!--热门小区房价走势-->
<div class="hotzsbox linkbox">
    <div class="title hot_title"><%= tools.getPro(cityInfo, "cityname") %>热门小区二手房走势</div>
    <div class="content">
        <%
        hotList.hotStress && hotList.hotStress.map(function (hotStress, hotStressIndex) {
            let stressInfo = hotStress[0];
            let ratio = hotStress[1] && hotStress[1].avg_price > 0 ? stressInfo.avg_price / hotStress[1].avg_price : 0;
        %>
        <div class="box clearfix">
            <p class="btitle">
                <span class="name"><a
                            href="<%= siteDomain %>/xiaoqu/<%= tools.getPro(stressInfo, "lpid") %>.html"
                            target="_blank"><%= tools.getPro(stressInfo, "lp_name") %></a></span>
                <span class="address"><img src="<%= root[env] %>images/icon_slocation.png"
                                           alt=""><%= tools.getPro(stressInfo, "qyname") %>
                    &nbsp;&nbsp;<%= tools.getPro(stressInfo, "sqname") %></span>
                <span class="more_link"><a href="<%= siteDomain %>/xiaoqu/esf/<%= tools.getPro(stressInfo, "lpid") %>/"
                                           target="_blank">更多>></a></span>
            </p>
            <div class="hotleft">
                <p class="state"><%= tools.getPro(stressInfo, "month") %>月二手房均价 <span
                            class="num"><%= tools.getPro(stressInfo, "avg_price") %></span>元/㎡
                    ，环比上月
                    <% if(ratio > 1){ %>
                    上涨
                    <% }else{ %>
                    下跌
                    <% } %>
                    &nbsp;
                    <span class="num"><%= tools.getRatioH(ratio) %></span>%</p>
                <div class="hot_line_container"></div>
            </div>
            <div class="hotright">
                <%
                    let houseInfo = hotList.hotHouse[hotStressIndex];
                houseInfo.map(function (house) {
                %>
                <a href="<%= siteDomain %>/ershoufang/<%= tools.getPro(house, "hsmid") %>.html" target="_blank">
                    <span class="price"><%= tools.getPro(house, "totalPrice") %>万</span>
                    <div class="imgbox"><img src="<%= tools.getClearImgPath(tools.getPro(house, "thumb")) %>"
                                             width="203" height="135" alt="<%= tools.getPro(house, "title") %>">
                    </div>
                    <p class="txt"><%= tools.getPro(house, "title") %></p>
                    <p><span class="jg"><%= tools.getPro(house, "roomNumber") %>
                            室<%= tools.getPro(house, "hallNumber") %>厅<%= tools.getPro(house, "toiletNumber") %>
                            卫</span> <span class="mj"><%= tools.getPro(house, "area") %>㎡</span></p>
                </a>
                <% }); %>
            </div>
        </div>
        <% }); %>
    </div>
    <a href="javascript:;" class="more">查看更多资源</a>
</div>
<% } %>

<% include include/footer %>
<script>require(['pc_zhishu']);</script>
</body>
</html>
