<div class="content11" style="margin-top:20px; padding-top: 8px; border-top:1px solid #b2b2b2;">
    <p style="font-size:12px; color:#999">免责声明：本站旨在为广大用户提供更多信息服务，不声明或保证所提供信息的准确性和完整性。
        页面所载内容及数据仅供用户参考和借鉴，最终以开发商或者经纪人实际公示数据为准，
        用户因参照本站信息进行相关交易所造成的任何后果与本站无关。如在本站看到有虚假信息或者信息错误，
        您可以点击相应的举报按钮或者拨打举报电话：4006622117</p>
    <!-- 您可以点击相应的举报按钮或者拨打举报电话：${(site.webCall)!}</p> -->
    <p style="font-size:12px; color:#999;">备注：本站所有涉及面积或者带有单位“㎡”的信息都是“建筑面积”，所有的售价和均价、月租金等，都是参考价格。</p></div>
<!--底部部分-->
<div class="content11">
    <div class="text-center">
        <a target="_blank" href="/house">房源专题</a>
        <span>｜</span>
        <a href="<%= siteDomain %>/sitemap/xhjmap"><%= cityInfo.cityname %>象盒地图</a>
        <span>｜</span>
        <a href="<%= siteDomain %>/xiaoqu/zidian"><%= cityInfo.cityname %>小区地图</a>
        <span>｜</span>
        <a href="<%= siteDomain %>/sitemap/loupanmap"><%= cityInfo.cityname %>楼盘地图</a>
        <span>｜</span>
        <a target="_blank" href="<%= siteDomain %>/about/guanyuwomen.shtml" rel="nofollow"> 关于我们</a>
        <span>｜</span>
        <a target="_blank" href="<%= siteDomain %>/calculator/daiKuan.html">房贷计算</a>
        <span>｜</span>
        <a target="_blank" href="<%= siteDomain %>/hetong/query">合同查询</a>
        <span>｜</span>
        <a target="_blank" href="<%= siteDomain %>/about/zhaopinxinxi.shtml" rel="nofollow">加入我们</a>
        <span>｜</span>
        <a target="_blank" href="<%= siteDomain %>/about/kefurexian.shtml" rel="nofollow">联系我们</a>
        <span>｜</span>
        <a target="_blank" href="mailto:zjl@xhj.com" rel="nofollow">总经理邮箱</a>
        <span>｜</span>
        <a target="_blank" href="<%= siteDomain %>/login" rel="nofollow">经纪人登录</a>

    </div>
    <p class="text-center">湖南省长沙市雨花区东塘西大华宾馆写字楼18、19、20、21、22、27</p>
    <p class="text-center">全国服务监督热线：4006622117</p>
    <p class="text-center"><img src="<%= siteDomain %>/web/images/index/tb-jh.png" style="padding-right:5px;"/>备案：湘ICP备18019481号
    </p>
</div>