<div class="typebox">
    <li<% if(tab_index == 0){ %> class="active"<% } %>><a href="<% if(tab_index == 0){ %>javascript:;<%}else{%><%= root[env] %><%}%>">区域房价</a></li>
    <!--<li<% if(tab_index == 1){ %> class="active"<% } %>><a href="<% if(tab_index == 1){ %>javascript:;<%}else{%><%= root[env] %>metro<%}%>">地铁房价</a></li>-->
    <!--<li<% if(tab_index == 2){ %> class="active"<% } %>><a href="<% if(tab_index == 2){ %>javascript:;<%}else{%><%= root[env] %>house<%}%>">小区房价</a></li>-->
    <!--<li<% if(tab_index == 3){ %> class="active"<% } %>><a href="<% if(tab_index == 3){ %>javascript:;<%}else{%><%= root[env] %>pk<%}%>">PK房价</a></li>-->
</div>
<div class="codebox clearfix">
    <div class="title">
        <img src="<%= root[env] %>images/icon_phone.png" alt="" class="phone"><span>下载象盒找房APP</span>
    </div>
    <div class="codecon">
        <img src="<%= root[env] %>images/img_bcode.png" alt="">
        <p class="txt1 ">象盒找房APP</p>
        <p class="txt2">找房·真·简单</p>
    </div>
</div>